name: Unit Test

on: [push]

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: simple_bank
        ports: 
         - 5433:5432
        options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
        
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21.3'

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install golang-migrate
        run: |
          sudo apt-get update
          curl -s https://packagecloud.io/install/repositories/golang-migrate/migrate/script.deb.sh | sudo bash
          sudo apt-get install migrate
      
      - name: Run migrations
        run: make migrateup

      - name: Run test
        run: make test