name: Unit Test

on: [push]

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret

    steps:
      - uses: actions/checkout@v3

      - name: Run PostgreSQL command
        run: docker run --name=postgres16 -e POSTGRES_USER=root -p 5433:5432 -e POSTGRES_PASSWORD=secret -d postgres:16-alpine

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21.3'

      - name: Set up Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Wait for PostgreSQL to become available
        run: |
          until pg_isready -h localhost -p 5433; do
            echo "Waiting for PostgreSQL to become available..."
            sleep 2
          done
        env:
          PGPASSWORD: secret
    
      - name: Setup database and run tests
        run: |
            make createdb
            make test
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5433
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: simple_bank
