name: Unit Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3 
      - name: Set up Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install make  # Install Make if necessary
          # (Add any other dependencies here)
      - name: Run make test
        run: make test