name: Unit Test

on: [push]

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: secret
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21.3' # Ensure this version number is correct

      - name: Set up Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make
      - name: Set up Database
        run: |
            make createdb
            make migrateup

      - name: Run make test
        run: make test